.AuthFrame-container {
  width: 500px;
  height: 300px;
  background-color: var(--second-background);
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px rgb(96, 96, 96);
  padding: 10px;
  color: var(--main-text-color);
  font-size: 1.5em;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0);
  overflow: hidden;
}

.AuthFrame-fields-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.AuthFrame-container button {
  width: 100%;
  height: 50px;
  color: var(--second-text-color);
  background-color: var(--main-button-color);
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-animation {
  opacity: 0 !important;
  transform: translateY(-30px) scale(0.95) !important;
  height: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}
