.header-container {
    width: 100%;
    height: 80px;
    background-color: var(--second-background);
    display: flex;
}

.header-level-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    font-size: 1.2em;
    color: var(--main-text-color);
}

.header-level-back {
    width: 250px;
    height: 15px;
    background-color: rgb(213, 213, 213); 
    border-radius: 25px;
}
/* Поменять на глобальный стиль */

.header-level-current {
    width: 0%;
    height: 100%;
    background-color: lawngreen;
    border-radius: 25px;
    transition: width 0.6s ease;
}

.header-user-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    color: var(--main-text-color);
    font-size: 1.3em;
    gap: 10px;
}

.header-user-avatar {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
}